API_URL_INTERNAL=http://localhost:8000
AUTH_URL=http://localhost:3001
AUTH_SECRET=  # 自分で生成したランダム値: https://authjs.dev/getting-started/deployment#auth_secret
AUTH_MICROSOFT_ENTRA_ID_ID=  # frontendのclient-id
AUTH_MICROSOFT_ENTRA_ID_SECRET=  # frontendのsecret-value
AUTH_MICROSOFT_ENTRA_ID_ISSUER=  # discoveryのissuer
AUTH_ENTRA_API_SCOPE=  # api://<APIのclient-id>/<scope>
AUTH_ENTRA_LOGOUT_URL=  # discoveryのend_session_endpoint（issuerと同じホストにする）
